{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<div class="bg-white border rounded-xl shadow-sm sm:flex dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
    <div class="shrink-0 relative w-full rounded-t-xl overflow-hidden pt-[40%] sm:rounded-s-xl sm:max-w-60 md:rounded-se-none md:max-w-xs">
      <img class="h-1/2 size-full absolute top-0 start-0 object-cover" src="https://images.unsplash.com/photo-1680868543815-b8666dba60f7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80" alt="Card Image">
    </div>
    <div class="flex flex-wrap">
      <div class="p-4 flex flex-col h-full sm:p-7">
        <h3 class="text-lg font-bold text-gray-800 dark:text-white">
          {{ article.title }}
        </h3>
        <p class="mt-1 text-gray-500 dark:text-neutral-400">
          {{ article.content }}
        </p>
        <h4 class="text-base  text-gray-800 dark:text-white">
            {{ article.createAt | date('d/m/Y') }}
        </h4>
        <h4 class="text-base text-gray-800 dark:text-white">
              {% for category in article.categories %}
                {{ category.libele }}
              {% endfor %}
        </h4>
        <h4 class="text-base text-gray-800 dark:text-white">
            {{ article.user.lastname }}, {{ article.user.firstname }}
        </h4>
        <a href="{{ path('app_articles')}}">Pages Articles</a>
      </div>
    </div>
</div>

{% endblock %}
